
/*  styling to the navbar  */





.contact {
    font-size: 50px;
    font-weight: 600;
}

.contact span {
    color: orange;
}




.input {

    border: 1px solid black;

    padding: 8px 20px;
    border-radius: 4px;
    width: 30rem;
    
}


textarea {
    border: 1px solid black;
    padding: 8px 10px;
    border-radius:  4px;

    width: 30rem;
}




.button {
    font-size: 25px;
    border: 1px solid black;
    padding-left: 5px;
    border-radius: 8px;
 
    background-color: orange;
    color: white;
    width: 30rem;
}

.button:hover {
    color: black;
    background-color: rgb(193, 165, 12);
}